@tailwind base;
@tailwind components;
@tailwind utilities;

html { 
  scroll-behavior: smooth;
} 

.embla {
  position: relative;
}
.embla__viewport {
  overflow: hidden;
  width: 100%;
}
.embla__container {
  display: flex;
}
.embla__slide {
  position: relative;
  flex: 0 0 100%;
}

@font-face {
  font-family: 'Matiz';
  src: url('/fonts/Matiz.ttf');
}

@font-face {
  font-family: 'Oswald';
  src: url('/fonts/Oswald-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: url('/fonts/Oswald-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}
